@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.nos {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px black;
}